/* Hover highlight */
/*
 .leaflet-marker-icon {
 opacity: 0 !important;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
 }

 .leaflet-marker-icon:hover {
 opacity: 1 !important;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
 }*/

/* Define hover tips style*/
.custom-hover {
}
.custom-control-hover-label {
	color: #036;
	font-weight: bold;
	font-size: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Strength=2, Color=#FFFFFF)";
	text-shadow: -2px -2px 2px white, 2px 2px 2px white;
}
/* Define popup style*/
.leaflet-popup-content-wrapper {
	background-color: #036;
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Strength=2, Color=#FFFFFF)";
	box-shadow: -2px -2px 2px white, 2px 2px 2px white;
}
.leaflet-popup-close-button {
	background-color: transparent;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
.leaflet-popup-content {
	margin: 12px;
}
.popup-title {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: white !important;
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	text-decoration: none;
}

.popup-title:hover {
	text-decoration: underline;
}
/*
 * Style for filter popup
 * */

.acert-control-filter form {
	padding: 0px 0px 10px 0px;
}

.acert-control-filter-group {
	border: 1px solid #DDD;
	margin: 0px 10px 0px 10px;
	padding: 10px 0px 0px 0px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
}

.acert-control-filter-group-name {
	color: #DDD;
	position: relative;
	top: 10px;
	left: 30px;
	background-color: #036;
	padding: 0px 5px;	
}

/*
 * Style for search function
 * */

.acert-control-search-items {
	height: 30px;
	padding: 2px 0px 0px 5px;
}

.acert-control-search-input {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	width: 215px;
}

.acert-control-search-icon {
	background: url("images/search.png") no-repeat;
	float: right;
	margin: 5px;
	cursor: pointer;
	width: 20px;
	height: 20px;	
}

.acert-control-search-expanded {
	padding: 3px 10px 3px 5px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;	
}

/*
 * Common used css
 * */
.acert-control, .acert-control-form {
	-moz-box-shadow: 0 0 7px #999;
	-webkit-box-shadow: 0 0 7px #999;
	box-shadow: 0 0 7px #999;
	background: #f8f8f9;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-color: #036;
}

.acert-control-tools {
	display: inline-block !important;
	cursor: pointer;
}

.acert-control-tools:hover {
	background-image: url("jquery-ui/images/ui-icons_fbb041_256x240.png") !important;
}

.acert-control-show {
	display: block;
}

.acert-control-hide {
	display: none;
}

.acert-control-icon {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.acert-control-icon {
	background-image: url("images/view.png");
}

.acert-control-close {
	background: url("images/popup-close.png") no-repeat;
	float: right;
	margin: 5px 5px 5px 0px;
	cursor: pointer;
	width: 15px;
	height: 15px;
}
